/* src/pages/AdminLogin.css */
@import url('../styles/UnifiedTheme.css');

.admin-login-container {
  background: linear-gradient(135deg, var(--accent-color) 0%, #667eea 100%);
       background:  transparent;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    color: rgb(7, 6, 6);
    overflow-x: hidden;
}

.login-icon {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.card-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
}